html body {
  background-color: #000;
}

html body .container-logo a img {
  width: 60px;
}


html body .bg-dark {
  background-color: #ba0000de !important;
}

/* body .navbar-dark .navbar-toggler {
  border-color: #000;
} */

body .navbar-dark .navbar-nav .nav-link {
  color: #000;
}

body .card-header-special {
  background: url("../images/topo-card.jpg") no-repeat top center;
  background-size: 100%;
  text-align: center;
  font-size: 26px;
  color: #fff9ce;
  text-transform: uppercase;
}

body .perfil-topo-container img {
  width: 100%;
  margin-bottom: 20px;
}

.perfil .progress-bar {
  background-image: linear-gradient(45deg, 
    rgba(128, 3, 3, 0.845) 25%, 
    transparent 25%, 
    transparent 50%, rgba(128, 3, 3, 0.845) 50%, 
    rgba(128, 3, 3, 0.845) 75%, 
    transparent 75%, 
    transparent);
  background-color: #000;
}
.perfil .progress {
  background-color: #111;
}

.table-ver-mais {
  text-align: right;
}

.img-mercado-da-bola {
  width: 40%;
  display: block;
  position: relative;
  right: 0;
  float: right;

}

.redes-sociais {
  display: block;
  margin: 0%;
  padding: 0%;
  width: 100%;
}

.redes-sociais li {
  display: block;
  float: left;
  margin: 0%;
  padding: 0%;
  width: 30%;
}

.redes-sociais img {
  width: 100%;
}